.outer-box {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  width: 250px;
  position: relative;
}
.inner-box {
  border: 2px solid gray;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.inner-box strong {
  position: absolute;
  top: 5px;
  left: 5px;
}
.item-box {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  margin-left: 15px; 
}